<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>food</title>
</head>
<body>
<div>
    <table>
        <tr>
            <td>商品名字</td>
            <td><input value="" type="test"/></td>
        </tr>
        <tr>
            <td>商品编号</td>
            <td><input value="" type="test"/></td>
        </tr>
        <tr>
            <td>商品状态</td>
            <td><input value="" type="test"/></td>
        </tr>
        <tr>
            <td>商品类型</td>
            <td><input value="" type="test"/></td>
        </tr>
        <tr>
            <td>商品成本</td>
            <td><input value="" type="test"/></td>
        </tr>
        <tr>
            <td>商品销售价格</td>
            <td><input value="" type="test"/></td>
        </tr>
    </table>

    <input type="file" name="uploadfile" id="uploadfile" value="Browse" />
</div>
</body>
</html>