<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品</title>
    <script src="../../js/bootstarp/jquery.min.js"></script>
    <script src="../../easyUI/jquery.easyui.min.js"></script>
    <script src="../../js/goodsList.js"></script>
    <link rel="stylesheet" href="../../easyUI/easyui.css">
</head>
<body>
hello 商品！
<table >
    <tr>
        <td>商品名字</td>
        <td>商品分类</td>
        <td>商品编号</td>
        <td>成本价格</td>
        <td>卖出价格</td>
        <td>创建时间</td>
        <td>是否再用</td>
    </tr>
    <tr></tr>
    <tr></tr>


</table>
</body>
</html>